
Code for handling [JAR][jar]s.

* Construct archives using fluid builders
* Read from the file-system or in-memory (with optional filtering)
* Write to the file-system (zipped up or exploded to a directory), or in-memory (byte array, output stream, classloader, etc)

Use with:

| Integration Module           | Description |
| ---------------------------- | ----------- |
| [compile.glue][compile-glue] | archive output of programmatic compilation |
| [archive.jpms][archive-jpms] | JPMS [modules][jigsaw] support |
| [archive.osgi][archive-osgi] | [OSGi][osgi] [Bundles][wikipedia-osgi-bundles] support |
| [archive.sign][archive-sign] | Digital signature (jar signing) |
| [archive.glue][archive-glue] | use an in-memory archive as a dependency for compilation |


[compile-glue]: /compile.glue
[archive-jpms]: /archive.jpms
[archive-osgi]: /archive.osgi
[archive-sign]: /archive.sign
[archive-glue]: /archive.glue
[osgi]: https://www.osgi.org
[jar]: https://docs.oracle.com/javase/${version.java.platform}/docs/technotes/guides/jar/jarGuide.html
[jigsaw]: http://openjdk.java.net/projects/jigsaw
[jmod]: https://docs.oracle.com/javase/9/tools/jmod.htm#JSWOR-GUID-0A0BDFF6-BE34-461B-86EF-AAC9A555E2AE
[wikipedia-osgi-bundles]: https://en.wikipedia.org/wiki/OSGi#Bundles