<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">archive</li>
		<li>/ˈɑːkʌɪv/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/archive--_gb_1.mp3')" /></span></li>
		<li><i>noun:</i>
			<ol>
				<li>
					a collection of historical documents or records providing information about a place, institution, or group of people.<br/>
					<i>synonyms:</i> 	chronicles, annals
				</li>
				<li>the place where historical documents or records are kept.<br/>
					<i>synonyms:</i> 	repository, museum, chancery
				</li>
			</ol>
		</li>
		<li><i>verb:</i>
			<ol>
				<li>
					place or store (something) in an archive.<br/>
					<i>synonyms:</i> 	file, catalogue, pigeonhole
				</li>
			</ol>
		</li>
	</ul>
</div>