#
#  Add SonarCloud token with (where xxxxxxxxx is the raw token from Sonar - with no variable assignment):
#
#  travis encrypt xxxxxxxxx    -r GITHUB_USERNAME/GITHUB_PROJECT_NAME
#
#
language: java
jdk: oraclejdk8
sudo: required
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/apache-maven-3.6.0"
  - ''
addons:
  apt:
    packages:
    - graphviz
  sonarcloud:
    organization: "earcam-github"
    token:
      secure: "RqaojDK2dxZ2CTTeNdL+6U8SO8qOvcvQb09xnt+Jcvw5j2+SQCLx3RoKckPOMdV90Hkx/raO9dACqCY2YJpGTpJersoz02DuphrvkkqBAxasJg29P/Rxw+Rc0z5fpErcj2uxIceRum50iPz+RqwezxGaNNz7MSDxDWx9WZsjus9fEsflk2aGWNr6k8lMtKuBjYV//iZcLYZEv5UTw4TtQnAU2rPxU5tqr3oxuO+Oj+ziM1bgPIQzPE3ipejuPCRBsm9+DFNKiTI+n7AIp6/aabfGP+bQRPuc1joFusLvMBoDducLZ+LRdQ7vllqPXtqDpA2AofJFXPSu3IhgoaSSRw9N2pN71j9lhosf08m+6lkeqEZsNH61PXSCxW+EZLzY2XMzGdaBi9KGlekfTpBymgirvjKOxVtTgL1bNT3nsh4fuM79m9Mr4ZC3gjgN8hMeZKDypEjVf0/jDecc6s8yPfBttkGqNgdKMoLm3jy4IiNK7XTu2ZxotUs2WVaBPdlK3/KIEI7COUkQFhWFSknk6tb6lIdpDRUdW+inNJ/VQNXkkptbrXDKXMGTTi+RD2Ulm+z4Mgo/xVWJmndS+XOk0tMdCAXSaZynv8hf1Xp0OyVhtORRrhTWlFhXicvJdgahBIh+QbraIbP3H2TzZmQskPSxevhF1xZ5I4ZrYw7YbO4="
before_install:
- sudo add-apt-repository ppa:linuxuprising/java -y
- sudo apt-get update -q
- echo debconf shared/accepted-oracle-license-v1-2 select true | sudo debconf-set-selections
- echo debconf shared/accepted-oracle-license-v1-2 seen true | sudo debconf-set-selections
- sudo apt-get install oracle-java9-installer oracle-java11-installer -y -q
- export JAVA_8_HOME=/usr/lib/jvm/java-8-oracle
- export JAVA_HOME=${JAVA_8_HOME}
- mkdir -p $HOME/.m2
- export M2_HOME=$HOME/apache-maven-3.6.0
- if [ ! -d $M2_HOME/bin ]; then curl https://archive.apache.org/dist/maven/maven-3/3.6.0/binaries/apache-maven-3.6.0-bin.tar.gz | tar zxf - -C $HOME; fi
- export PATH=$M2_HOME/bin:$PATH
install:
- sudo chmod go-rwx -R $HOME/.m2
before_script:
- wget https://bitbucket.org/earcam/io.earcam.maven/raw/master/io.earcam.maven.toolchain/src/main/resources/toolchain/continuous-integration-hotspot-linux-debian-amd64.xml  -O  ~/.m2/toolchains.xml
- wget https://bitbucket.org/earcam/io.earcam.maven/raw/master/io.earcam.maven.configuration/src/main/resources/settings.xml  -O $HOME/ci-settings.xml
- mvn -v
script:
- export MAVEN_OPTS=-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
- sudo $M2_HOME/bin/mvn --toolchains $HOME/.m2/toolchains.xml --settings $HOME/ci-settings.xml -U -P analyse,report,sonar  -Drevapi.skip=true  -Dforbiddenapis.skip=true -Dskip.execution.pitest=true
- #mvn --settings $HOME/ci-settings.xml org.eluder.coveralls:coveralls-maven-plugin:report
- #mvn --settings $HOME/ci-settings.xml org.jacoco:jacoco-maven-plugin:report-aggregate -Djacoco.excludes=**/InstrumentationWrapper.*
after_success: bash <(curl -s https://codecov.io/bash)
