<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">unit</li>
		<li>/ˈjuːnɪt/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/unit--_gb_1.mp3')" /></span></li>
		<li><i>noun:</i>
			<ol>
				<li>
					an individual thing or person regarded as single and complete but which can also form an individual component of a larger or more complex whole.<br/>
					<i>synonyms:</i> 	component, module, ingredient, fragment
				</li>
				<li>a self-contained section in a building or group of buildings
				</li>
				<li>a subdivision of a larger military grouping.<br/>
					<i>synonyms:</i> 	detachment, detail, battalion, garrison, formation
				</li>
			</ol>
		</li>
	</ul>
</div>