<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">auto</li>
		<li>/ˈɔːtəʊ/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/auto--_gb_1.mp3')" /></span></li>
		<li><i>adjective &amp; noun:</i>
			<ol>
				<li>
					short for automatic.<br/>
				</li>
			</ol>
		</li>
		<li><i>combining form (prefix):</i>
			<ol>
				<li>
					self.<br/>
					<i>example:</i> 	auto-analysis
				</li>
				<li>
					one&apos;s own.<br/>
					<i>example:</i> 	autograph
				</li>
				<li>
					by oneself or spontaneous.<br/>
					<i>example:</i> 	autoxidation
				</li>
				<li>
					by itself or automatic.<br/>
					<i>example:</i> 	autofocusing
				</li>
			</ol>
		</li>
	</ul>
</div>