<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">lade</li>
		<li>/leɪd/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/lade--_gb_1.8.mp3')" /></span></li>
		<li><i>verb:</i>
			<ol>
				<li>
					take on cargo.<br/>
					<i>synonyms:</i> 	load, baptize, souse
				</li>
			</ol>
		</li>
	</ul>
</div>