#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')


`${project.artifactId}.Proxy`:

* Uses [CGLib][cglib] to allow proxying of classes
* Uses [Objenesis][objenesis] to circumvent constructor issues 
* Accepts standard `java.lang.reflect.InvocationHandler`

A comprehensive (though not super-performant) proxy capable of proxying just about anything when couple with [instrumental.agent.defy][instrumental-agent-defy].

See also invocation handlers and proxying for interfaces in [instrumental.proxy][instrumental-proxy].

[instrumental-proxy]: /proxy
[instrumental-agent-defy]: /agent.defy
[objenesis]: http://objenesis.org
[cglib]: https://github.com/cglib/cglib/wiki
