#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')


$h3 Example

Use an in-memory archive as dependency when compiling:

#snippet ( "/src/test/java/io/earcam/instrumental/archive/glue/ArchiveFileObjectProviderTest.java", "with-dependency" )

