#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')


Use an in-memory archive as dependency when compiling, first compile **api** then compile **imp**:

#snippet ( "/src/test/java/io/earcam/instrumental/archive/glue/ArchiveFileObjectProviderTest.java", "with-dependency" )

