#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')



* Provides a `CompilationTarget` from [instrumental.compile][instrumental-compile] for [instrumental.archive][instrumental-archive]
* The output can loaded using [instrumental.lade][instrumental-lade]


[instrumental-compile]: /compile
[instrumental-archive]: /archive
[instrumental-lade]: /lade
