<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">glue</li>
		<li>/ɡluː/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/glue--_gb_1.mp3')" /></span></li>
		<li><i>verb:</i>
			<ol>
				<li>
					fasten or join with or as if with glue.<br/>
					<i>synonyms:</i> 	cement, adhesive
				</li>
			</ol>
		</li>
		<li><i>noun:</i>
			<ol>
				<li>
					an adhesive substance used for sticking objects or materials together.<br/>
					<i>synonyms:</i> 	gum, paste, stick
				</li>
			</ol>
		</li>
	</ul>
</div>