#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')


Take the source as a String, then compile it to a map of byte arrays:

#snippet ( "/src/test/java/io/earcam/instrumental/compile/DefaultCompilerTest.java", "string" )


Find the source for the specified class, then compile it the filesystem:

#snippet ( "/src/test/java/io/earcam/instrumental/compile/DefaultCompilerTest.java", "filesystem" )

([source](xref-test/io/earcam/instrumental/compile/DefaultCompilerTest.html)).
