<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">platform</li>
		<li>/ˈplatfɔːm/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/platform--_gb_1.mp3')" /></span></li>
		<li><i>noun:</i>
			<ol>
				<li>
					a raised level surface on which people or things can stand.<br/>
					<i>synonyms:</i> 	stage, dais, stand, rostrum, podium, soapbox; mandapam
				</li>
				<li>the declared policy of a political party or group.<br/>
					<i>synonyms:</i> 	policy, programme, party line, manifesto
				</li>
				<li>a shoe with very thick soles.<br/>
				</li>
			</ol>
		</li>
	</ul>
</div>