<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">agent</li>
		<li>/ˈeɪdʒ(ə)nt/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/agent--_gb_1.mp3')" /></span></li>
		<li><i>noun:</i>
			<ol>
				<li>
					a person who acts on behalf of another person or group.<br/>
					<i>synonyms:</i> 	spokeswoman, emissary, envoy, frontman, mouthpiece
				</li>
				<li>a person or company that provides a particular service, typically one that involves organising transactions between two other parties.<br/>
					<i>synonyms:</i> 	agency, concern
				</li>
				<li>a person who works secretly to obtain information for a government or other official body.<br/>
					<i>synonyms:</i> 	spy, operative, fifth columnist
				</li>
				<li>a person or thing that takes an active role or produces a specified effect.<br/>
					<i>synonyms:</i> 	medium, means, vehicle, instrument
				</li>
			</ol>
		</li>
	</ul>
</div>