

* Load a [Java Agent][java-agent] - dynamically, without prerequisite JAR file or JVM arguments
* Get hold of an [Instrumentation][instrumentation-class] instance with [SPI][java-spi] (using only this module as a runtime dependency)


For use in [JUnit][junit] tests, please see the other module [instrumental.agent.junit][instrumental-agent-junit] which already has JUnit 4 `Rule`s and JUnit 5 `Extension`s.

[instrumental-agent-junit]: /agent.junit
[earcam-wrapped-attach]: https://bitbucket.org/earcam/com.sun.tools.attach
[junit]: http://junit.org
[java-agent]: https://docs.oracle.com/javase/${version.java.platform}/docs/api/java/lang/instrument/package-summary.html
[instrumentation-class]: https://docs.oracle.com/javase/${version.java.platform}/docs/api/java/lang/instrument/Instrumentation.html
[java-spi]: https://docs.oracle.com/javase/tutorial/ext/basics/spi.html