<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">signature</li>
		<li>/ˈsɪɡnətʃə/&nbsp;&nbsp;<span title="Pronunciation" style="display:inline-block;"><input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAi0lEQVQokWNgQAYyQFzGsIJBnwED8DNcBpK+DM8YfjMUokqxMRxg+A9m8TJsBLLSEFKMDCuBAv/hCncxfGWQhUn2gaVAktkMXkBSHmh0OwNU8D9csoHhO4MikN7BcAGb5H+GYiDdCTQYq2QubkkkY/E6CLtXdiJ7BTMQMnAHXxFm6IICvhwY8AYQLgCw2U9d90B8BAAAAABJRU5ErkJggg==" width="14" height="14" type="image" 
				onclick="pronounceUrl('https://ssl.gstatic.com/dictionary/static/sounds/20160317/signature--_gb_1.mp3')" /></span></li>
		<li><i>noun:</i>
			<ol>
				<li>
					a person's name written in a distinctive way as a form of identification in authorizing a cheque or document or concluding a letter.
				</li>
				<li>
					the action of signing a document.
				</li>
				<li>
					a distinctive pattern, product, or characteristic by which someone or something can be identified.
				</li>
			</ol>
		</li>
	</ul>
</div>