#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')


$h3 Example

Self-first URLClassLoader:

#snippet ( "/src/test/java/io/earcam/instrumental/lade/ClassLoadersTest.java", "selffirst" )

View full [source](xref-test/io/earcam/instrumental/lade/ClassLoadersTest.html) of associated test.
