#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')


$h3 Example

The following creates an in-memory JPMS module with export predicate::

#snippet ( "/src/test/java/io/earcam/instrumental/archive/jpms/AsJpmsModuleTest.java", "export-predicate" )

([source](xref-test/io/earcam/instrumental/archive/jpms/AsJpmsModuleTest.html)).


The following finds the JAR for a given class and "wraps it", (scans classes to determine *requires*) producing a JPMS compliant module:

#snippet ( "/src/test/java/io/earcam/instrumental/archive/jpms/AsJpmsModuleIntegrationTest.java", "add-to-jar" )

([source](xref-test/io/earcam/instrumental/archive/jpms/AsJpmsModuleIntegrationTest.java))